.prompt-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.prompt-card {
  max-width: 400px;
  padding: 16px;
  flex: 1 1 auto;
}
button.collection-entry {
  align-self: flex-end;
  margin-right: 4px;
  margin-left: 4px;
}
